In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv('../Data/attacks.csv', encoding='latin1')

# 1. miramos cual es el shape del dataframe para saber y tener una idea general de como es

In [3]:
data.shape

(25723, 24)

# 2.hacemos una copia del dataframe original para poder editarlo y limpiarlo

In [4]:
data_sharks = data
data_sharks.shape

(25723, 24)

# 3. vamos a ver cuantos nulos hay y si podemos borrar filas

In [5]:
data_sharks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [6]:
null_f= data_sharks.isna().sum(axis=1)
null_f.sort_values(ascending=False)
null_f

0         2
1         3
2         3
3         4
4         4
         ..
25718    24
25719    24
25720    24
25721    24
25722    23
Length: 25723, dtype: int64

In [7]:
null_f0= null_f[null_f>20]
null_f0.index
data_sharks.drop(null_f0.index, inplace=True)

In [8]:
data_sharks.shape

(6302, 24)

In [9]:
data_sharks.isna().sum()

Case Number                  1
Date                         0
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

In [10]:
data_sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

# 4. limpieza de countries, areas y location

In [11]:
data_country_1=data_sharks[['Country', 'Area','Location']]
data_country_1

,Country,Area,Location
0,USA,California,"Oceanside, San Diego County"
1,USA,Georgia,"St. Simon Island, Glynn County"
2,USA,Hawaii,"Habush, Oahu"
3,AUSTRALIA,New South Wales,Arrawarra Headland
4,MEXICO,Colima,La Ticla
...,...,...,...
6297,AUSTRALIA,Western Australia,Roebuck Bay
6298,AUSTRALIA,Western Australia,NaN
6299,USA,North Carolina,Ocracoke Inlet
6300,PANAMA,NaN,"Panama Bay 8ºN, 79ºW"
6301,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee"

In [12]:
data_missing_1=data_country_1[(data_country_1['Country'].isnull()) & (data_country_1['Area'].isnull()) & (data_country_1['Location'].isnull())]
data_missing_1.index

Index([  62,  525, 3378, 3388, 3395, 3399, 3425, 3661, 4726, 4729, 4911, 5060,
       5586, 5587, 5636, 5770, 5839, 5885, 5920, 5996, 6001, 6092, 6119, 6131,
       6133, 6165, 6171, 6199, 6259],
      dtype='int64')

In [13]:
data_sharks.drop(data_missing_1.index, inplace=True)

In [14]:
data_sharks.shape

(6273, 24)

In [15]:
mapeo_Area = {
    'English Channel': 'england',
    'Caribbean Sea': 'caribe',
    'Between Timor & Darwin, Australia': 'australia',
    'Near the Andaman & Nicobar Islands': 'india',
    'Between Comores & Madagascar': 'madagascar',
    'Off South American coast':'chile',
    '300 miles east of St. Thomas (Virgin Islands)': 'usa',
    'French Southern Territories': 'france',
    'Mediterranean Sea': 'spain',
    'Gulf of California': 'mexico',
    'Western Banks': 'australia',
    'St Helena': 'australia',
    'Ionian Sea': 'italy'
 }

In [16]:
data_sharks[(data_sharks['Country'].isnull()) & (data_sharks['Area'].isnull())]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
3605,1965.10.21,21-Oct-1965,1965.0,Unprovoked,NaN,NaN,Florida Strait,The boat Caribou II sank,Mario Castellanos,M,...,NaN,"Lodi News Sentinel, 10/30/1965",1965.10.21-Castellanos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1965.10.21,1965.10.21,2698.0,NaN,NaN
4639,1944.10.24,24-Oct-1944,1944.0,Sea Disaster,NaN,NaN,225 miles east of Hong Kong,Japanese POW ship Arisan Maru with 1800 Americ...,NaN,M,...,NaN,internet (multiple),1944.10.24-ArisanMaru.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.10.24,1944.10.24,1664.0,NaN,NaN
5425,1909.01.17,17-Jan-1909,1909.0,Invalid,NaN,NaN,Near the equator,Jumped overboard,Thomas Butler,M,...,Questionable,"Star, 3/18/1909",1909.01.17-Butler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1909.01.17,1909.01.17,878.0,NaN,NaN
5810,1881.06.25,25-Jul-1881,1881.0,Unprovoked,NaN,NaN,Santa Cruz,Bathing,Father Hudson,M,...,NaN,"Grey River Argus,10/3/1881, p.2",1881.06.25-FatherHudson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.06.25,1881.06.25,493.0,NaN,NaN
6155,1742.12.17,17-Dec-1742,1742.0,Unprovoked,NaN,NaN,Carlisle Bay,Swimming,2 impressed seamen,M,...,NaN,"C. Moore, GSAF",1742.12.17-AdviceSeamen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1742.12.17,1742.12.17,148.0,NaN,NaN
6206,ND-0114,Before 2012,0.0,Unprovoked,NaN,NaN,In a river feeding into the Bay of Bengal,Netting shrimp,Sametra Mestri,F,...,NaN,National Georgraphic Television,ND-0114-BayOfBengal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0114,ND-0114,97.0,NaN,NaN

In [17]:
mapeo_location={
    'Florida Strait': 'usa',
    '225 miles east of Hong Kong': 'china',
    'Near the equator': 'cameroon',
    'Santa Cruz': 'usa',
    'Carlisle Bay': 'caribe',
    'In a river feeding into the Bay of Bengal':'india'
    
}

In [18]:
for index, row in data_sharks[data_sharks['Country'].isnull() & data_sharks['Area'].isnull() & data_sharks['Location'].notnull()].iterrows():
    if row['Location'] in mapeo_location:
        data_sharks.at[index, 'Country'] = mapeo_location[row['Location']]
        data_sharks.at[index, 'Area'] =  mapeo_location[row['Location']]

In [19]:
data_sharks[(data_sharks['Country'].isnull()) & (data_sharks['Location'].isnull())]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
2956,1983.00.00.d,Ca. 1983,1983.0,Unprovoked,NaN,English Channel,NaN,Swimming,Padma Shri Taranath Narayan Shenoy,M,...,NaN,"Times of India, 2/5/2012",1983.00.00.d-Shenoy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.00.00.d,1983.00.00.d,3347.0,NaN,NaN
4018,1960.01.26,26-Jan-1960,1960.0,Sea Disaster,NaN,"Between Timor & Darwin, Australia",NaN,Portuguese Airliner with 9 people aboard went ...,NaN,NaN,...,NaN,"V.M. Coppleson (1962), p.260",1960.01.26-Portuguese airliner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.01.26,1960.01.26,2285.0,NaN,NaN
4231,1956.09.13,13-Sep-1956,1956.0,Unprovoked,NaN,Near the Andaman & Nicobar Islands,NaN,Climbing back on ship,male,M,...,Blue shark,M. Hosina,1956.09.13-TunaBoat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.09.13,1956.09.13,2072.0,NaN,NaN
4700,1942.11.00.a,Nov-1942,1942.0,Sea Disaster,NaN,Off South American coast,NaN,Dutch merchant ship Zaandam torpedoed by the ...,NaN,M,...,NaN,"M. Murphy; V.M. Coppleson (1962), pp.207-208",1942.11.00.a-Izzi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.11.00.a,1942.11.00.a,1603.0,NaN,NaN
4712,1942.06.00,Jun-1942,1942.0,Unprovoked,NaN,300 miles east of St. Thomas (Virgin Islands),NaN,On life raft tethered to lifeboat. A seaman pu...,male,M,...,NaN,"V.M. Coppleson (1962), p.258",1942.06.00-on-life-raft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.06.00,1942.06.00,1591.0,NaN,NaN
5612,1897.03.15.b.R,Reported 15-Mar-1897,1897.0,Unprovoked,NaN,Mediterranean Sea,NaN,Swimming,male,M,...,NaN,"Daily Northwestern, 5/15/1897",1897.03.15.b.R-Mediterranean.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1897.03.15.b.R,1897.03.15.b.R,691.0,NaN,NaN
5742,1887.07.30,30-Jul-1887,1887.0,Sea Disaster,NaN,Gulf of California,NaN,"Sea disaster, wreck of the sloop Sara",2 males,M,...,NaN,"Austin Weekly Statesman, 8/11/1887",1887.07.30-TheSara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1887.07.30,1887.07.30,561.0,NaN,NaN
5808,1881.08.16.R,Reported 16-Aug-1881,1881.0,Unprovoked,NaN,Western Banks,NaN,"Floating, holding onto an oar after dory capsized",George Sedgwick,M,...,NaN,"Lewiston Evening Journal, 8/16/1881",1881.08.16.R-Sedgwick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.08.16.R,1881.08.16.R,495.0,NaN,NaN
6175,0077.00.00,77 A.D.,77.0,Unprovoked,NaN,Ionian Sea,NaN,Sponge diving,males,M,...,NaN,Perils mentioned by Pliny the Elder (23 A.D. t...,77AD-Pliny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0077.00.00,0077.00.00,128.0,NaN,NaN
6177,0000.0214,Ca. 214 B.C.,0.0,Unprovoked,NaN,Ionian Sea,NaN,Ascending from a dive,"Tharsys, a sponge diver",M,...,NaN,"Reported by Greek poet, Leonidas of Tarentum (...",214BC-Tharsys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0214,0000.0214,126.0,NaN,NaN

In [20]:
mapeo_Area = {
    'English Channel': 'england',
    'Between Timor & Darwin, Australia': 'australia',
    'Near the Andaman & Nicobar Islands': 'india',
    'Between Comores & Madagascar': 'madagascar',
    'Off South American coast':'chile',
    '300 miles east of St. Thomas (Virgin Islands)': 'usa',
    'Mediterranean Sea': 'spain',
    'Gulf of California': 'mexico',
    'Western Banks': 'australia',
    'Ionian Sea': 'italy'
 }

In [21]:
for index, row in data_sharks[data_sharks['Country'].isnull() & data_sharks['Location'].isnull() & data_sharks['Area'].notnull()].iterrows():
    if row['Area'] in mapeo_Area:
        data_sharks.at[index, 'Country'] = mapeo_Area[row['Area']]
        data_sharks.at[index, 'Location'] =  mapeo_Area[row['Area']]

In [22]:
null_1=data_sharks[(data_sharks['Area'].isnull()) & (data_sharks['Location'].isnull())]
null_1.index
data_sharks.drop(null_1.index, inplace=True)
data_sharks.shape

(6062, 24)

# 5 voy a limpiar la fila de country con un diccionario para que tengan nombres estandar

In [23]:
data_sharks['Country'] = data_sharks['Country'].str.lower()

In [24]:
mapeo_Pais = {
    'usa': 'usa',
    'australia': 'australia',
    'mexico': 'mexico',
    'brazil': 'brazil',
    'england': 'england',
    'south africa': 'south africa',
    'thailand': 'thailand',
    'costa rica': 'costa rica',
    'maldives': 'maldive islands',
    'bahamas': 'bahamas',
    'new caledonia': 'new caledonia',
    'ecuador': 'ecuador',
    'malaysia': 'malaysia',
    'libya': 'libya',
    'cuba': 'cuba',
    'mauritius': 'mauritius',
    'new zealand': 'new zealand',
    'spain': 'spain',
    'samoa': 'samoa',
    'solomon islands': 'solomon islands',
    'japan': 'japan',
    'egypt': 'egypt',
    'st helena, british overseas territory': 'england territory, atlantic',
    'comoros': 'comoros',
    'reunion': 'france territory, indian',
    'french polynesia': 'france territory, pacific',
    'united kingdom': 'england',
    'united arab emirates': 'united arab emirates',
    'philippines': 'philippines',
    'indonesia': 'indonesia',
    'china': 'china',
    'columbia': 'Colombia',
    'cape verde': 'cape verde',
    'fiji': 'fiji',
    'dominican republic': 'dominican republic',
    'cayman islands': 'england territory, caribe',
    'aruba': 'netherlands territory, caribe',
    'mozambique': 'mozambique',
    'puerto rico': 'puerto rico',
    'italy': 'italy',
    'greece': 'greece',
    'st. martin': 'france territory, caribe',
    'france': 'france',
    'trinidad & tobago': 'trinidad & tobago',
    'kiribati': 'kiribati',
    'israel': 'israel',
    'taiwan': 'taiwan',
    'jamaica': 'jamaica',
    'palestinian territories': 'palestinian',
    'seychelles': 'seychelles',
    'nigeria': 'nigeria',
    'tonga': 'tonga',
    'scotland': 'scotland',
    'canada': 'canada',
    'croatia': 'croatia',
    'saudi arabia': 'saudi arabia',
    'chile': 'chile',
    'antigua': 'antigua & barbuda',
    'papua new guinea': 'papua new guinea',
    'kenya': 'kenya',
    'russia': 'russia',
    'turks & caicos': 'england territory, caribe',
    'united arab emirates (uae)': 'united arab emirates',
    'azores': 'portugal',
    'south korea': 'south korea',
    'malta': 'malta',
    'vietnam': 'vietnam',
    'madagascar': 'madagascar',
    'guam': 'usa territory, pacific',
    'panama': 'panama',
    'somalia': 'somalia',
    'nevis': 'san cristóbal y nevis',
    'british virgin islands': 'england territory, caribe',
    'norway': 'norway',
    'yemen': 'yemen',
    'gulf of aden': 'yemen',
    'belize': 'belize',
    'sierra leone': 'sierra leone',
    'atlantic ocean': 'atlantic ocean',
    'st. maartin': 'netherlands territory, caribe',
    'grand cayman': 'england territory, caribe',
    'vanuatu': 'vanuatu',
    'mexico ': 'mexico',
    'honduras': 'honduras',
    'venezuela': 'venezuela',
    'sri lanka': 'sri lanka',
    ' tonga': 'tonga',
    'uruguay': 'uruguay',
    'india': 'india',
    'micronesia': 'micronesia',
    'caribbean sea': 'venezuela',
    'okinawa': 'japan',
    'tanzania': 'tanzania',
    'marshall islands': 'marshall islands',
    'senegal': 'senegal',
    'egypt / israel': 'egypt',
    'hong kong': 'hong kong',
    'el salvador': 'el salvador',
    'angola': 'angola',
    'montenegro': 'montenegro',
    'iran': 'iran',
    'tunisia': 'tunisia',
    'namibia': 'namibia',
    'north atlantic ocean': 'atlantic ocean',
    'portugal': 'portugal',
    'bangladesh': 'bangladesh',
    'palau': 'palau',
    'western samoa': 'samoa',
    'british isles': 'england',
    'grenada': 'grenada',
    'iraq': 'iraq',
    'bermuda': 'england territory, atlantic',
    'turkey': 'turkey',
    'singapore': 'singapore',
    'new britain': 'usa',
    'sudan': 'sudan',
    'pacific ocean ': 'pacific ocean',
    'new guinea': 'new guinea',
    'red sea': 'saudi arabia',
    'federated states of micronesia': 'micronesia',
    'mid atlantic ocean': 'atlantic ocean',
    'admiralty islands': 'new guinea',
    'british west indies': 'england territory, caribe',
    'south atlantic ocean': 'atlantic ocean',
    'persian gulf': 'saudi arabia',
    'north pacific ocean': 'pacific ocean',
    'red sea / indian ocean': 'saudi arabia',
    'pacific ocean': 'pacific ocean',
    'north sea': 'england',
    'nicaragua ': 'nicaragua',
    'maldive islands': 'maldive islands',
    'american samoa': 'usa territory, pacific',
    'gabon': 'gabon',
    'mayotte': 'france territory, indian',
    'north atlantic ocean ': 'atlantic ocean',
    'the balkans': 'greece',
    'sudan?': 'sudan',
    'argentina': 'argentina',
    'indian ocean': 'indian ocean',
    'netherlands antilles': 'netherlands territory, caribe',
    'liberia': 'liberia',
    'northern mariana islands': 'usa territory, atlantic',
    'iran / iraq': 'iran',
    'java': 'indonesia',
    ' philippines': 'philippines',
    'nicaragua': 'nicaragua',
    'central pacific': 'pacific ocean',
    'solomon islands / vanuatu': 'solomon islands',
    'southwest pacific ocean': 'pacific ocean',
    'mid-pacifc ocean': 'pacific ocean',
    'slovenia': 'slovenia',
    'curacao': 'netherlands territory, caribe',
    'iceland': 'iceland',
    'italy / croatia': 'italy',
    'barbados': 'barbados',
    'monaco': 'monaco',
    'guyana': 'guyana',
    'haiti': 'haiti',
    'san domingo': 'dominican republic',
    'ireland': 'ireland',
    'cameroon': 'cameroon',
    'yemen ': 'yemen',
    'reunion island': 'france territory, indian',
    'cyprus': 'cyprus',
    'egypt ': 'egypt',
    'burma': 'burma',
    'lebanon': 'lebanon',
    'martinique': 'france territory, caribe',
    'british new guinea': 'new guinea',
    'ocean': 'atlantic ocean',
    'georgia': 'georgia',
    'tuvalu': 'tuvalu',
    'guinea': 'guinea',
    'equatorial guinea / cameroon': 'cameroon',
    'cook islands': 'new zealand',
    'tobago': 'trinidad & tobago',
    'peru': 'peru',
    'algeria': 'algeria',
    'coast of africa': 'south africa',
    'tasman sea': 'australia',
    'ghana': 'ghana',
    'sweden': 'sweden',
    'caribe': 'venezuela',
    'djibouti': 'djibouti',
    'korea': 'south korea',
    'ceylon (sri lanka)': 'sri lanka'
 }

In [25]:
data_sharks['Country'] = data_sharks['Country'].map(mapeo_Pais)

In [26]:
data_sharks.Country.unique()

array(['usa', 'australia', 'mexico', 'brazil', 'england', 'south africa',
       'thailand', 'costa rica', 'maldive islands', 'bahamas',
       'new caledonia', 'ecuador', 'malaysia', 'libya', 'cuba',
       'mauritius', 'new zealand', 'spain', 'samoa', 'solomon islands',
       'japan', 'egypt', 'england territory, atlantic', 'comoros',
       'france territory, indian', 'france territory, pacific',
       'united arab emirates', 'philippines', 'indonesia', 'china',
       'Colombia', 'cape verde', 'fiji', 'dominican republic',
       'england territory, caribe', 'netherlands territory, caribe',
       'mozambique', 'puerto rico', 'italy', 'greece',
       'france territory, caribe', 'france', 'trinidad & tobago',
       'kiribati', 'israel', 'taiwan', 'jamaica', 'palestinian',
       'seychelles', 'nigeria', 'tonga', 'scotland', 'canada', 'croatia',
       'saudi arabia', 'chile', 'antigua & barbuda', 'papua new guinea',
       'kenya', 'russia', 'portugal', 'south korea', 'malta', 'vietnam',
       'madagascar', 'usa territory, pacific', 'panama', 'somalia',
       'san cristóbal y nevis', 'norway', 'yemen', 'belize',
       'sierra leone', 'atlantic ocean', 'vanuatu', 'honduras',
       'venezuela', 'sri lanka', 'uruguay', 'india', 'micronesia',
       'tanzania', 'marshall islands', 'senegal', 'hong kong',
       'el salvador', 'angola', 'montenegro', 'iran', 'tunisia',
       'namibia', 'bangladesh', 'palau', nan, 'grenada', 'iraq', 'turkey',
       'singapore', 'sudan', 'pacific ocean', 'new guinea', 'nicaragua',
       'gabon', 'argentina', 'indian ocean', 'liberia',
       'usa territory, atlantic', 'slovenia', 'iceland', 'barbados',
       'monaco', 'guyana', 'haiti', 'ireland', 'cameroon', 'cyprus',
       'burma', 'lebanon', 'georgia', 'tuvalu', 'guinea', 'peru',
       'algeria', 'ghana', 'sweden', 'djibouti'], dtype=object)

# 6 voy a copiar la fila de country en la fila de location y con un dicionario voy a poner los oceanos o mares donde estan

In [27]:
null_2=data_sharks[(data_sharks['Area'].isnull())]
null_2.index
data_sharks.drop(null_2.index, inplace=True)

In [28]:
data_sharks.shape

(5853, 24)

In [29]:
null_3=data_sharks[(data_sharks['Location'].isnull())]
null_3.index
data_sharks.drop(null_3.index, inplace=True)

In [30]:
null_4=data_sharks[(data_sharks['Country'].isnull())]
null_4.index
data_sharks.drop(null_4.index, inplace=True)

In [31]:
data_sharks['Location'] = data_sharks['Country']

In [32]:
data_sharks['Location'].unique()

array(['usa', 'australia', 'mexico', 'brazil', 'england', 'south africa',
       'thailand', 'costa rica', 'maldive islands', 'bahamas', 'ecuador',
       'malaysia', 'cuba', 'mauritius', 'new zealand', 'spain', 'samoa',
       'japan', 'egypt', 'england territory, atlantic', 'comoros',
       'france territory, pacific', 'united arab emirates',
       'france territory, indian', 'philippines', 'indonesia',
       'new caledonia', 'dominican republic', 'england territory, caribe',
       'mozambique', 'france', 'israel', 'jamaica', 'nigeria', 'tonga',
       'scotland', 'trinidad & tobago', 'canada', 'italy', 'saudi arabia',
       'chile', 'taiwan', 'antigua & barbuda', 'papua new guinea',
       'kenya', 'russia', 'seychelles', 'Colombia', 'fiji', 'south korea',
       'vietnam', 'madagascar', 'usa territory, pacific', 'panama',
       'solomon islands', 'croatia', 'norway', 'yemen', 'belize',
       'sierra leone', 'netherlands territory, caribe', 'china',
       'vanuatu', 'honduras', 'sri lanka', 'uruguay', 'venezuela',
       'india', 'micronesia', 'marshall islands', 'senegal', 'hong kong',
       'somalia', 'el salvador', 'montenegro', 'tunisia', 'namibia',
       'portugal', 'palau', 'iran', 'grenada', 'iraq', 'turkey',
       'pacific ocean', 'new guinea', 'greece', 'atlantic ocean',
       'nicaragua', 'gabon', 'malta', 'sudan', 'argentina', 'liberia',
       'tanzania', 'indian ocean', 'slovenia', 'barbados', 'cape verde',
       'kiribati', 'guyana', 'haiti', 'ireland', 'libya', 'cameroon',
       'cyprus', 'burma', 'lebanon', 'guinea', 'sweden', 'iceland'],
      dtype=object)

In [33]:
mapeo_location_oceano ={
    'usa': 'pacific ocean',
    'australia': 'pacific ocean',
    'mexico': 'caribbean sea',
    'brazil': 'atlantic ocean',
    'england': 'atlantic ocean',
    'south africa': 'atlantic ocean',
    'thailand': 'chinese sea',
    'costa rica': 'caribbean sea',
    'bahamas': 'atlantic ocean',
    'ecuador': 'pacific ocean',
    'malaysia': 'chinese sea',
    'cuba': 'caribbean sea',
    'mauritius': 'indian ocean',
    'new zealand': 'pacific ocean',
    'spain': 'mediterranean sea',
    'samoa': 'pacific ocean',
    'japan': 'pacific ocean',
    'egypt': 'mediterranean sea',
    'england territory, atlantic': 'atlantic ocean',
    'comoros': 'indian ocean',
    'france territory, pacific': 'pacific ocean',
    'united arab emirates': 'indian ocean',
    'france territory, indian': 'indian ocean',
    'philippines': 'pacific ocean',
    'indonesia': 'indian ocean',
    'new caledonia': 'pacific ocean',
    'china': 'chinese sea',
    'Colombia': 'caribbean sea',
    'cape verde': 'atlantic ocean',
    'fiji': 'pacific ocean',
    'dominican republic': 'caribbean sea',
    'england territory, caribe': 'caribbean sea',
    'mozambique': 'indian ocean',
    'italy': 'mediterranean sea',
    'france': 'atlantic ocean',
    'trinidad & tobago': 'atlantic ocean',
    'kiribati': 'pacific ocean',
    'israel': 'mediterranean sea',
    'taiwan': 'pacific ocean',
    'jamaica': 'caribbean sea',
    'nigeria': 'atlantic ocean',
    'tonga': 'pacific ocean',
    'scotland': 'atlantic ocean',
    'canada': 'pacific ocean',
    'saudi arabia': 'red sea',
    'chile': 'pacific ocean',
    'antigua & barbuda': 'caribbean sea',
    'papua new guinea': 'pacific ocean',
    'kenya': 'indian ocean',
    'russia': 'pacific ocean',
    'seychelles': 'indian ocean',
    'solomon islands': 'pacific ocean',
    'south korea': 'chinese sea',
    'vietnam': 'chinese sea',
    'madagascar': 'indian ocean',
    'usa territory, pacific': 'pacific ocean',
    'panama': 'caribbean sea',
    'croatia': 'mediterranean sea',
    'norway': 'norway sea',
    'yemen': 'indian ocean',
    'belize': 'caribbean sea',
    'sierra leone': 'atlantic ocean',
    'atlantic ocean': 'atlantic ocean',
    'netherlands territory, caribe': 'caribbean sea',
    'vanuatu': 'pacific ocean',
    'honduras': 'caribbean sea',
    'sri lanka': 'indian ocean',
    'uruguay': 'atlantic ocean',
    'venezuela': 'caribbean sea',
    'india': 'indian ocean',
    'micronesia': 'pacific ocean',
    'marshall islands': 'pacific ocean',
    'senegal': 'atlantic ocean',
    'hong kong': 'chinese sea',
    'somalia': 'indian ocean',
    'el salvador': 'pacific ocean',
    'angola': 'atlantic ocean',
    'montenegro': 'mediterranean sea',
    'greece': 'mediterranean sea',
    'tunisia': 'mediterranean sea',
    'namibia': 'atlantic ocean',
    'portugal': 'atlantic ocean',
    'bangladesh': 'indian ocean',
    'palau': 'pacific ocean',
    'iran': 'indian ocean',
    'grenada': 'caribbean sea',
    'iraq': 'indian ocean',
    'tanzania': 'indian ocean',
    'england territory, atlantic': 'atlantic ocean',
    'turkey': 'mediterranean sea',
    'sudan': 'red sea',
    'pacific ocean': 'pacific ocean',
    'new guinea': 'pacific ocean',
    'nicaragua': 'caribbean sea',
    'maldive islands': 'indian ocean',
    'gabon': 'atlantic ocean',
    'malta': 'mediterranean sea',
    'argentina': 'atlantic ocean',
    'liberia': 'atlantic ocean',
    'singapore': 'chinese sea',
    'usa territory, atlantic': 'atlantic ocean',
    'indian ocean': 'indian ocean',
    'slovenia': 'mediterranean sea',
    'iceland': 'atlantic ocean',
    'barbados': 'atlantic ocean',
    'monaco': 'mediterranean sea',
    'guyana': 'atlantic ocean',
    'haiti': 'caribbean sea',
    'ireland': 'atlantic ocean',
    'libya': 'mediterranean sea',
    'cameroon': 'atlantic ocean',
    'cyprus': 'mediterranean sea',
    'burma': 'indian ocean',
    'lebanon': 'mediterranean sea',
    'guinea': 'atlantic ocean',
    'ghana': 'atlantic ocean',
    'sweden': 'baltic sea',
    'djibouti': 'indian ocean'
 }

In [34]:
data_sharks['Location'] = data_sharks['Location'].map(mapeo_location_oceano)

In [35]:
data_sharks['Location'].unique()

array(['pacific ocean', 'caribbean sea', 'atlantic ocean', 'chinese sea',
       'indian ocean', 'mediterranean sea', 'red sea', 'norway sea',
       'baltic sea'], dtype=object)

# 7 aqui veo cuantos ataques hay por oceano

In [36]:
data_sharks['Location'].value_counts()

Location
pacific ocean        4033
atlantic ocean        845
indian ocean          221
mediterranean sea     208
caribbean sea         201
chinese sea            38
red sea                10
norway sea              1
baltic sea              1
Name: count, dtype: int64

# 8 voy a crear una nueva columna con el pais y el oceano/mar en el que esta pasando y eliminar las dos ultimas columnas que son todo NAN

In [37]:
data_sharks['pais-oceano']= data_sharks['Country']+'-'+data_sharks['Location']

In [38]:
data_sharks.drop(columns=['Unnamed: 22','Unnamed: 23'], inplace=True)

In [39]:
data_sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,pais-oceano
0,2018.06.25,25-Jun-2018,2018.0,Boating,usa,California,pacific ocean,Paddling,Julie Wolfe,F,...,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,usa-pacific ocean
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,usa,Georgia,pacific ocean,Standing,Adyson McNeely,F,...,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,usa-pacific ocean
2,2018.06.09,09-Jun-2018,2018.0,Invalid,usa,Hawaii,pacific ocean,Surfing,John Denges,M,...,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,usa-pacific ocean
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,australia,New South Wales,pacific ocean,Surfing,male,M,...,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,australia-pacific ocean
4,2018.06.04,04-Jun-2018,2018.0,Provoked,mexico,Colima,caribbean sea,Free diving,Gustavo Ramos,M,...,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,mexico-caribbean sea

In [40]:
data_sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'pais-oceano'],
      dtype='object')

In [41]:
data_sharks = data_sharks[['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location','pais-oceano',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order']]

In [42]:
data_sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,pais-oceano,Activity,Name,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,usa,California,pacific ocean,usa-pacific ocean,Paddling,Julie Wolfe,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,usa,Georgia,pacific ocean,usa-pacific ocean,Standing,Adyson McNeely,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,usa,Hawaii,pacific ocean,usa-pacific ocean,Surfing,John Denges,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,australia,New South Wales,pacific ocean,australia-pacific ocean,Surfing,male,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,mexico,Colima,caribbean sea,mexico-caribbean sea,Free diving,Gustavo Ramos,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

In [43]:
data_sharks.isna().sum()

Case Number                  1
Date                         0
Year                         1
Type                         2
Country                      0
Area                         0
Location                     0
pais-oceano                  0
Activity                   430
Name                       147
Sex                        463
Age                       2297
Injury                      20
Fatal (Y/N)                459
Time                      2724
Species                   2353
Investigator or Source      15
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

In [44]:
data_sharks['Date']

0       25-Jun-2018
1       18-Jun-2018
2       09-Jun-2018
3       08-Jun-2018
4       04-Jun-2018
           ...
6292     Circa 1862
6296    Before 1906
6297    Before 1903
6299      1900-1905
6301      1845-1853
Name: Date, Length: 5558, dtype: object

In [45]:
data_sharks.Time.fillna('unknown', inplace=True)

C:\Users\pepot\AppData\Local\Temp\ipykernel_9524\1184262207.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sharks.Time.fillna('unknown', inplace=True)

In [46]:
data_sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,pais-oceano,Activity,Name,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,usa,California,pacific ocean,usa-pacific ocean,Paddling,Julie Wolfe,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,usa,Georgia,pacific ocean,usa-pacific ocean,Standing,Adyson McNeely,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,usa,Hawaii,pacific ocean,usa-pacific ocean,Surfing,John Denges,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,australia,New South Wales,pacific ocean,australia-pacific ocean,Surfing,male,...,N,unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,mexico,Colima,caribbean sea,mexico-caribbean sea,Free diving,Gustavo Ramos,...,N,unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

In [47]:
data_sharks[['Case Number','Date', 'Year']]

     Case Number         Date    Year
0     2018.06.25  25-Jun-2018  2018.0
1     2018.06.18  18-Jun-2018  2018.0
2     2018.06.09  09-Jun-2018  2018.0
3     2018.06.08  08-Jun-2018  2018.0
4     2018.06.04  04-Jun-2018  2018.0
...          ...          ...     ...
6292     ND.0010   Circa 1862     0.0
6296     ND.0006  Before 1906     0.0
6297     ND.0005  Before 1903     0.0
6299     ND.0003    1900-1905     0.0
6301     ND.0001    1845-1853     0.0

[5558 rows x 3 columns]

In [48]:
null_5=data_sharks[(data_sharks['Case Number'].isnull())]
null_5.index
data_sharks.drop(null_5.index, inplace=True)

C:\Users\pepot\AppData\Local\Temp\ipykernel_9524\2311891835.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sharks.drop(null_5.index, inplace=True)

In [49]:
data_sharks['Date'].unique()

array(['25-Jun-2018', '18-Jun-2018', '09-Jun-2018', ..., 'Before 1903',
       '1900-1905', '1845-1853'], dtype=object)

In [50]:
data_sharks['Country'].unique()

array(['usa', 'australia', 'mexico', 'brazil', 'england', 'south africa',
       'thailand', 'costa rica', 'maldive islands', 'bahamas', 'ecuador',
       'malaysia', 'cuba', 'mauritius', 'new zealand', 'spain', 'samoa',
       'japan', 'egypt', 'england territory, atlantic', 'comoros',
       'france territory, pacific', 'united arab emirates',
       'france territory, indian', 'philippines', 'indonesia',
       'new caledonia', 'dominican republic', 'england territory, caribe',
       'mozambique', 'france', 'israel', 'jamaica', 'nigeria', 'tonga',
       'scotland', 'trinidad & tobago', 'canada', 'italy', 'saudi arabia',
       'chile', 'taiwan', 'antigua & barbuda', 'papua new guinea',
       'kenya', 'russia', 'seychelles', 'Colombia', 'fiji', 'south korea',
       'vietnam', 'madagascar', 'usa territory, pacific', 'panama',
       'solomon islands', 'croatia', 'norway', 'yemen', 'belize',
       'sierra leone', 'netherlands territory, caribe', 'china',
       'vanuatu', 'honduras', 'sri lanka', 'uruguay', 'venezuela',
       'india', 'micronesia', 'marshall islands', 'senegal', 'hong kong',
       'somalia', 'el salvador', 'montenegro', 'tunisia', 'namibia',
       'portugal', 'palau', 'iran', 'grenada', 'iraq', 'turkey',
       'pacific ocean', 'new guinea', 'greece', 'atlantic ocean',
       'nicaragua', 'gabon', 'malta', 'sudan', 'argentina', 'liberia',
       'tanzania', 'indian ocean', 'slovenia', 'barbados', 'cape verde',
       'kiribati', 'guyana', 'haiti', 'ireland', 'libya', 'cameroon',
       'cyprus', 'burma', 'lebanon', 'guinea', 'sweden', 'iceland'],
      dtype=object)

In [51]:
data_sharks.isna().sum()

Case Number                  0
Date                         0
Year                         1
Type                         2
Country                      0
Area                         0
Location                     0
pais-oceano                  0
Activity                   430
Name                       147
Sex                        463
Age                       2296
Injury                      20
Fatal (Y/N)                459
Time                         0
Species                   2352
Investigator or Source      15
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

# 9 voy a intentar rellenar los nulos de sex y de name

In [52]:
data_sharks[['Name', 'Sex ']]

                       Name Sex
0               Julie Wolfe    F
1           Adyson McNeely     F
2               John Denges    M
3                      male    M
4            Gustavo Ramos     M
...                     ...  ...
6292           A "chiefess"    F
6296               Arab boy    M
6297                   male    M
6299  Coast Guard personnel    M
6301                   male    M

[5557 rows x 2 columns]

In [53]:
null_6=data_sharks[(data_sharks['Name'].isnull()) & (data_sharks['Sex '].isnull())]
null_6.index
data_sharks.drop(null_6.index, inplace=True)

C:\Users\pepot\AppData\Local\Temp\ipykernel_9524\3989163053.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sharks.drop(null_6.index, inplace=True)

In [54]:
data_sharks.shape

(5459, 23)

In [55]:
pd.set_option('display.max_columns', None)

In [56]:
data_sharks[(data_sharks['Sex '].isnull())]

,Case Number,Date,Year,Type,Country,Area,Location,pais-oceano,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
179,2017.02.01.b,01-Feb-2017,2017.0,Boating,usa,South Carolina,pacific ocean,usa-pacific ocean,Tagging sharks,Chip Michelove & crew,NaN,NaN,"Shark bit boat, no injury to occupants",N,unknown,"White shark, female, 14'","YouTube, 2/2/2017",2017.02.01.b-Boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.02.01.b,2017.02.01.b,6124.0
218,2016.09.15.R,15-Sep-2016,2016.0,Boating,australia,Western Australia,pacific ocean,australia-pacific ocean,Fishing,Occupant: Ben Stratton,NaN,NaN,Shark rammed boat. No injury to occupant,N,unknown,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,6085.0
243,2016.07.17,17-Jul-2016,2016.0,Boating,usa,Alabama,pacific ocean,usa-pacific ocean,Fishing in Alabama Deep Fishing Rodeo,Occupant: Ben Raines,NaN,NaN,"No injury, shark bit trolling motor",N,unknown,"Tiger shark, 10'","Al.com, 7/19/2016",2016.07.17-Gulf.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.17,2016.07.17,6060.0
297,2016.03.13,13-Mar-2016,2016.0,Invalid,usa,California,pacific ocean,usa-pacific ocean,Surfing,unknown,NaN,NaN,Board reportedly bumped by shark. No injury,NaN,Morning,Shark involvement not confirmed,"Orange County Register, 3/13/2016",2016.03.13-BolsaChicaSurfer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.03.13,2016.03.13,6006.0
326,2015.12.13,13-Dec-2015,2015.0,Boating,australia,New South Wales,pacific ocean,australia-pacific ocean,Fishing,6 m boat: occupants Stephen & Andrew Crust,NaN,NaN,"No injury, shark rammed boat & bit motor",N,10h30,"White shark, 3.5 m","Courier Mail, 12/15/2015",2015.12.13-Crust-Boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.12.13,2015.12.13,5977.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6127,1804.02.26.R,Reported 26-Feb-1804,1804.0,Boat,australia,New South Wales,pacific ocean,australia-pacific ocean,NaN,boat,NaN,NaN,No injury to occupants,N,unknown,NaN,"Sydney Gazette, 2/26/1804",1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1804.02.26.R,1804.02.26.R,176.0
6136,1788.05.10,10-May-1788,1788.0,Boat,australia,New South Wales,pacific ocean,australia-pacific ocean,Fishing,boat,NaN,NaN,"No injury to occupants, shark bit oar and rudder",N,unknown,NaN,"G.P. Whitley citing J. Cobley, Sydney Cove, p....",1788.05.10-Sydney,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1788.05.10,1788.05.10,167.0
6166,1637.00.00.R,Reported 1637,1637.0,Unprovoked,india,West Bengal,indian ocean,india-indian ocean,Wading,Hindu pilgrims,NaN,NaN,NaN,UNKNOWN,unknown,NaN,"H. Edwards, p.31, citing Sebastian Manrique",1637.00.00.R-Manrique.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1637.00.00.R,1637.00.00.R,137.0
6167,1617.00.00.R,Reported 1617,1617.0,Unprovoked,india,West Bengal,indian ocean,india-indian ocean,NaN,Indian people,NaN,NaN,NaN,UNKNOWN,unknown,NaN,"H. Edwards, p.31, citing Samuel Purchas",1617.00.00-Purchas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1617.00.00.R,1617.00.00.R,136.0
6212,ND-0107,Before 2004,0.0,Boat,mozambique,Inhambane Province,indian ocean,mozambique-indian ocean,Fishing,"4.8-metre skiboat, Occupants: Rod Salm & 4 fri...",NaN,NaN,"No injury to occupants, shark bumped boat",N,unknown,Whale shark,South African Shark Attack File,ND-0107-Inhambane.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0107,ND-0107,91.0

In [57]:
data_sharks.isna().sum()

Case Number                  0
Date                         0
Year                         1
Type                         2
Country                      0
Area                         0
Location                     0
pais-oceano                  0
Activity                   395
Name                        49
Sex                        365
Age                       2198
Injury                      15
Fatal (Y/N)                425
Time                         0
Species                   2307
Investigator or Source      14
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

In [58]:
data_sharks['Name'].unique()

array(['Julie Wolfe', 'Adyson\xa0McNeely ', 'John Denges', ...,
       '"youthful male"', 'a young Scotsman', 'A "chiefess"'],
      dtype=object)

In [59]:
data_sharks[(data_sharks['Name'].isnull())]

,Case Number,Date,Year,Type,Country,Area,Location,pais-oceano,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
184,2017.01.13.b,13-Jan-2017,2017.0,Unprovoked,australia,Queensland,pacific ocean,australia-pacific ocean,Swimming,NaN,M,57,Injury to hand,N,13h30,NaN,"Brisbane Times,1/13/2017",2017.01.13.b-Clairview.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.13.b,2017.01.13.b,6119.0
721,2012.11.27,27-Nov-2012,2012.0,Invalid,australia,Queensland,pacific ocean,australia-pacific ocean,NaN,NaN,M,20,"Injury to ankle caused by a stingray, not a s...",NaN,14h50,No shark involvement,"Fraser Coast Chronicle, 11/27/2012",2012.11.27-stingray_accident.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.11.27,2012.11.27,5582.0
866,2011.09.17,17-Sep-2011,2011.0,Unprovoked,kenya,Coast Province,indian ocean,kenya-indian ocean,Swimming,NaN,M,17,FATAL,Y,unknown,NaN,"Mombasa411, 9/20/2011",2011.09.17-Kenya.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2011.09.17,2011.09.17,5437.0
882,2011.08.17.b.,17-Aug-2011,2011.0,Invalid,usa,North Carolina,pacific ocean,usa-pacific ocean,NaN,NaN,M,12,Abrasions to left hand,NaN,16h00,Shark involvement not confirmed,"C. Creswell, GSAF; Wway, 8/17/2011",2011.08.17.b-child.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2011.08.17.b.,2011.08.17.b.,5421.0
1107,2009.07.24.a,24-Jul-2009,2009.0,Invalid,spain,Catalunya,mediterranean sea,spain-mediterranean sea,Swimming,NaN,F,11,Laceration to left foot,NaN,10h15,Shark involvement questionable,"ABC-Spain, 7/25/2009",2009.07.24.a-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2009.07.24.a,2009.07.24.a,5196.0
1191,2008.11.09.b,09-Nov-2008,2008.0,Boating,australia,South Australia,pacific ocean,australia-pacific ocean,Fishing,NaN,M,NaN,"No injury to occupant, shark bit dinghy & motor",N,unknown,Bronze whaler shark,"C. Johansson, GSAF",2008.11.09.b-dinghy-NorthHaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.11.09.b,2008.11.09.b,5112.0
1203,2008.09.14,14-Sep-2008,2008.0,Unprovoked,usa,Florida,pacific ocean,usa-pacific ocean,Swimming,NaN,M,32,Lacerations to foot,N,12h00,2' to 3' juvenile shark,S. Petersohn,2008.09.14-Ormond-by-the-Sea.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.09.14,2008.09.14,5100.0
1321,2007.09.30.b,30-Sep-2007,2007.0,Sea Disaster,philippines,Palawan,pacific ocean,philippines-pacific ocean,"The 426-ton cargo ship Mia, laden with cement,...",NaN,M,NaN,FATAL Only 4 of the 18 on board were re...,Y,14h40,NaN,"Cebu Daily News, 10/3/2007",2007.09.30.b-Mia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007.09.30.b,2007.09.30.b,4982.0
1327,2007.09.22.a,22-Sep-2007,2007.0,Unprovoked,usa,Florida,pacific ocean,usa-pacific ocean,Surfing,NaN,F,NaN,Laceration to foot,N,unknown,4' shark,"R.Duffy, First Coast News. 9/23/2007",2007.09.22.a-HuguenotPark.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007.09.22.a,2007.09.22.a,4976.0
1903,2001.09.13,13-Sep-2001,2001.0,Provoked,england,Cheshire,atlantic ocean,england-atlantic ocean,Diving,NaN,M,NaN,Head bitten by captive shark PROVOKED INCIDENT,N,unknown,12' sandtiger shark,"Daily Post, 9/14/2001",2001.09.13-Aquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2001.09.13,2001.09.13,4400.0
2149,1998.12.15,15-Dec-1998,1998.0,Unprovoked,australia,South Australia,pacific ocean,australia-pacific ocean,Surfing,NaN,F,21,Leg injured,N,Afternoon,NaN,"Animal Attack Files, 12/19/1998",1998.12.15-female surfer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1998.12.15,1998.12.15,4154.0
2821,1986.04.00,Apr-1986,1986.0,Unprovoked,spain,Catalonia,mediterranean sea,spain-mediterranean sea,Diving,NaN,M,NaN,Abrasions,N,unknown,2 m shark,C. Moore. GSAF,1986.04.00-Lloret-de-Mar-diver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1986.04.00,1986.04.00,3482.0
3130,1978.01.06,06-Jan-1978,1978.0,Invalid,south africa,KwaZulu-Natal,atlantic ocean,south africa-atlantic ocean,NaN,NaN,M,NaN,Human head recovered from 3 m [10'] tiger shar...,NaN,unknown,Shark involvement prior to death was not confi...,"W. Pople, NSB",1978.01.06.R-CapeVidal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1978.01.06,1978.01.06,3173.0
3205,1975.10.21,21-Oct-1975,1975.0,Invalid,usa,New Jersey,pacific ocean,usa-pacific ocean,Surf fishing,NaN,M,NaN,"""Tooth marks"" in left leg",NaN,11h30,Shark involvement unconfirmed,"J. Stone; Asbury Park Press, 10/22/1975",1975.10.21-SandyHook.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.10.21,1975.10.21,3098.0
3226,1975.06.00.c,Jun-1975,1975.0,Provoked,usa,Florida,pacific ocean,usa-pacific ocean,NaN,NaN,M,NaN,Slightly injured when he stepped on a shark PR...,N,unknown,NaN,undated press clipping - see 1975.06.00.b,1975.06.00.c-stepped-on-shark.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.06.00.c,1975.06.00.c,3077.0
3409,1970.00.00.g,Late 1970s,1970.0,Unprovoked,spain,Canary Islands,mediterranean sea,spain-mediterranean sea,Spearfishing,NaN,M,NaN,Minor injury,N,unknown,Blue shark,C. Moore. GSAF,1970.00.00.g-Tenerife.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.00.00.g,1970.00.00.g,2894.0
3525,1967.06.00,Jun-1967,1967.0,Provoked,italy,Sicily,mediterranean sea,italy-mediterranean sea,Fishing boat,NaN,M,NaN,"No injury to occupants, harpooned shark sank ...",N,unknown,"White shark, 4 to 5 m [13' to 16.5']",A. De Maddalena; Giudici & Fino (1989),1967.06.00-Messina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1967.06.00,1967.06.00,2778.0
3769,1963.01.12,12-Jan-1963,1963.0,Provoked,south africa,Eastern Cape Province,atlantic ocean,south africa-atlantic ocean,Fishing,NaN,M,NaN,Foot bitten by shark hooked & taken on boat P...,N,unknown,<1.5 m shark,GSAF,1963.01.12-Mankowitz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1963.01.12,1963.01.12,2534.0
3956,1960.10.00.e,Oct-1960,1960.0,Unprovoked,papua new guinea,New Britain,pacific ocean,papua new guinea-pacific ocean,Collecting shells,NaN,M,26,Injuries to leg & foot,N,unknown,NaN,"A.M. Rapson, p.149",1960.10.00.e-Talasea.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.10.00.e,1960.10.00.e,2347.0
4470,1950.07.09,09-Jul-1950,1950.0,Invalid,usa,Texas,pacific ocean,usa-pacific ocean,NaN,NaN,M,NaN,Human remains found in shark,NaN,unknown,Shark involvement prior to death was not confi...,"Kingston Daily Freeman, 7/14/1950",1950.07.09-Galveston.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1950.07.09,1950.07.09,1833.0
4534,1948.12.05,05-Dec-1948,1948.0,Sea Disaster,pacific ocean,Between Kwajalein Atoll & Johnston Island,pacific ocean,pacific ocean-pacific ocean,Air/Sea Disaster involving C-54 Air Force Tran...,NaN,M,NaN,"32 survived, 5 perished; sharks fed on the dea...",Y,Dark,NaN,"L. Schultz & M. Malin, p.562; SAF Case #819",1948.12.05-Aircraft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1948.12.05,1948.12.05,1769.0
4639,1944.10.24,24-Oct-1944,1944.0,Sea Disaster,china,china,chinese sea,china-chinese sea,Japanese POW ship Arisan Maru with 1800 Americ...,NaN,M,NaN,Most of the men drowned & some were taken by s...,Y,>17h30,NaN,internet (multiple),1944.10.24-ArisanMaru.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.10.24,1944.10.24,1664.0
4700,1942.11.00.a,Nov-1942,1942.0,Sea Disaster,chile,Off South American coast,pacific ocean,chile-pacific ocean,Dutch merchant ship Zaandam torpedoed by the ...,NaN,M,NaN,FATAL,Y,unknown,NaN,"M. Murphy; V.M. Coppleson (1962), pp.207-208",1942.11.00.a-Izzi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.11.00.a,1942.11.00.a,1603.0
4879,1936.06.06,06-Jun-1936,1936.0,Unprovoked,usa,Florida,pacific ocean,usa-pacific ocean,Swimming,NaN,M,NaN,FATAL,Y,unknown,NaN,"Evening Independent, 6/8/1936",1936.06.06-BocaCiegaBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1936.06.06,1936.06.06,1424.0
4933,1934.08.27,27-Aug-1934,1934.0,Boating,italy,Sicily,mediterranean sea,italy-mediterranean sea,Fishing on a boat,NaN,M,NaN,No injury to occupants,N,unknown,"White shark, 4 m [13']",A. De Maddalena; Giudici & Fino (1989),1934.08.27-Catania.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1934.08.27,1934.08.27,1370.0
4960,1933.07.03,03-Jul-1933,1933.0,Unprovoked,australia,Western Australia,pacific ocean,australia-pacific ocean,Pearl diving,NaN,M,NaN,"No injury, shark tore diving suit",N,unknown,NaN,"Canberra Times, 7/6/1933",1933.07.03-Pearl-diver-Broome.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1933.07.03,1933.07.03,1343.0
4974,1932.12.11.R,Reported 11-Dec-1932,1932.0,Unprovoked,australia,Northern Territory,pacific ocean,australia-pacific ocean,NaN,NaN,M,NaN,Leg bitten,N,unknown,NaN,"Sunday Times (Perth), 12/11/1932",1932.12.11-ArnhemLand.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1932.12.11.R,1932.12.11.R,1329.0
5062,1929.11.29,29-Nov-1929,1929.0,Sea Disaster,kiribati,Phoenix Islands,pacific ocean,kiribati-pacific ocean,"Sea Disaster, wreck of the SS Norwich City",NaN,M,NaN,"11 of her crew perished, most, possibly all, d...",Y,unknown,NaN,"Hartford Courant, 2/15/1930",1929.11.29-NorwichCity.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1929.11.29,1929.11.29,1241.0
5227,1922.03.20,20-Mar-1922,1922.0,Unprovoked,jamaica,Kingston Parish,caribbean sea,jamaica-caribbean sea,Fishing,NaN,M,NaN,Survived,N,unknown,NaN,"Daily Gleaner, 3/21/1922, p.8",1922.03.20-Jamaica.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1922.03.20,1922.03.20,1076.0
5288,1917.07.15,15-Jul-1917,1917.0,Sea Disaster,ireland,Off Ireland,atlantic ocean,ireland-atlantic ocean,Ship Mariston torpedoed & sunk,NaN,M,NaN,"FATAL, only 1 survivor",Y,Morning,NaN,"Western Mail, 11/9/1917",1917.07.15-Mariston-ship.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1917.07.15,1917.07.15,1015.0
5354,1913.08.27.R,Reported 27-Aug-1913,1913.0,Invalid,usa,New Jersey,pacific ocean,usa-pacific ocean,NaN,NaN,M,NaN,Man's leg recovered from 800-lb shark,NaN,unknown,Shark involvement prior to death unconfirmed,"Trenton Evening Times, 8/27/1913",1913.08.27.R-Lavalette.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1913.08.27.R,1913.08.27.R,949.0
5355,1913.08.27.R,Reported 27-Aug-1913,1913.0,Invalid,usa,New Jersey,pacific ocean,usa-pacific ocean,NaN,NaN,F,NaN,Female foot recovered from shark,NaN,unknown,Shark involvement prior to death unconfirmed,"Washington Post, 8/27/1913",1913.08.27.R-FemaleFoot.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1913.08.27.R,1913.08.27.R,948.0
5376,1912.01.13.R,Reported 13-Jan-1912,1912.0,Unprovoked,fiji,Viti Levu group,pacific ocean,fiji-pacific ocean,Washed overboard,NaN,M,7,FATAL,Y,unknown,NaN,"Clarence & Richmond Examiner, 1/13/1912",1912.01.13.R-Fiji.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1912.01.13.R,1912.01.13.R,927.0
5419,1909.06.26.b.R,26-Jun-1909,1909.0,Unprovoked,south africa,Western Cape Province,atlantic ocean,south africa-atlantic ocean,NaN,NaN,M,NaN,Remains of soldier in uniform. Probable drowni...,Y,unknown,18-foot shark,"Adams County News, 6/26/1909",1909.06.26.b.R-CapeTown.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1909.06.26.b.R,1909.06.26.b.R,884.0
5437,1908.06.02.R,Reported 02-Jun-1908,1908.0,Sea Disaster,papua new guinea,New Britain,pacific ocean,papua new guinea-pacific ocean,.,NaN,.,NaN,"Remains of 3 humans recovered from shark, but ...",Y,unknown,Allegedly a 33-foot shark,"Taranaki Herald, 6/2/1908",1908.06.02.R-Matupi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1908.06.02.R,1908.06.02.R,866.0
5438,1908.05.13,13-May-1908,1908.0,Sea Disaster,indonesia,Java,indian ocean,indonesia-indian ocean,native boats sunk in storm,NaN,F,NaN,FATAL,Y,unknown,NaN,"The Advertiser, 6/26/1908",1908.05.13-Jakarta.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1908.05.13,1908.05.13,865.0
5477,1906.04.27.R,Reported 27-Apr-1906,1906.0,Unprovoked,indonesia,Maluku Province,indian ocean,indonesia-indian ocean,Hard hat diving,NaN,M,NaN,FATAL,Y,unknown,NaN,"The Advertiser, 5/16/1906",1906.04.27.R-Aru-Islands.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1906.04.27.R,1906.04.27.R,826.0
5489,1905.08.24,24-Aug-1905,1905.0,Invalid,egypt,Suez Canal,mediterranean sea,egypt-mediterranean sea,Human head found in shark caught by British st...,NaN,M,NaN,Probable drowning & scavenging.,NaN,unknown,"Tiger shark, 3.9 m","C. Moore, GSAF",1905.08.24-Head-in-shark.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1905.08.24,1905.08.24,814.0
5509,1904.07.01.R,Reported 01-Jul-1904,1904.0,Unprovoked,italy,Ancona Province,mediterranean sea,italy-mediterranean sea,Swimming,NaN,M,NaN,FATAL x 4. Afterwards metal mesh nets were ins...,Y,unknown,NaN,"C. Moore, GSAF, Translations by S. Navajas",1904.07.01-Ancona.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1904.07.01.R,1904.07.01.R,794.0
5664,1893.07.03,03-Jul-1893,1893.0,Sea Disaster,philippines,Luzon Island,pacific ocean,philippines-pacific ocean,Abandoning burning steamship Don Juan,NaN,M,NaN,FATAL,Y,unknown,NaN,"New Zealand Tablet, 12/1/1893",1893.07.03-DonJuan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1893.07.03,1893.07.03,639.0
5799,1882.04.15,15-Apr-1882,1882.0,Unprovoked,australia,New South Wales,pacific ocean,australia-pacific ocean,Fishing,NaN,M,NaN,FATAL,Y,unknown,NaN,"The Mercury, 4/25/1882",1882.04.15-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1882.04.15,1882.04.15,504.0
5904,1871.08.00,Aug-1871,1871.0,Provoked,usa,New York,pacific ocean,usa-pacific ocean,Shark fishing,NaN,M,NaN,Hand injured PROVOKED INCIDENT,N,unknown,NaN,"New York Times, 8/26/1871",1871.08.00-SharkFisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1871.08.00,1871.08.00,399.0
5980,1860.12.26,26-Dec-1860,1860.0,Unprovoked,australia,New South Wales,pacific ocean,australia-pacific ocean,Bathing,NaN,M,NaN,Lacerations to leg,N,unknown,NaN,"The Argus, 12/31/1860",1860.12.26-TheDomain-Sydney.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1860.12.26,1860.12.26,323.0
6021,1852.02.26,26-Feb-1852,1852.0,Sea Disaster,south africa,Western Cape Province,atlantic ocean,south africa-atlantic ocean,Wreck of the steamship Birkenhead,NaN,M,NaN,FATAL. All of the women & children on board su...,Y,01h50,White sharks,"D. Davies, pp.182-184; M. Levine, GSAF",1852.02.26-Birkenhead.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1852.02.26,1852.02.26,282.0
6028,1850.00.00,1850,1850.0,Unprovoked,nicaragua,Lake Nicaragua (fresh water),caribbean sea,nicaragua-caribbean sea,Bathing,NaN,M,NaN,FATAL,Y,unknown,NaN,"E. Squier, 1852, vol. 1",1850.00.00-LakeNicaragua.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1850.00.00,1850.00.00,275.0
6048,1846.12.08,08-Dec-1846,1846.0,Sea Disaster,mexico,Veracruz,caribbean sea,mexico-caribbean sea,Wreck of the USS Somers,NaN,M,NaN,"FATAL, some were taken by sharks",Y,unknown,NaN,"Report of the loss of the Somers, J.H.W.",1846.12.08-Somers.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1846.12.08,1846.12.08,255.0
6126,1805.09.00,Sep-1805,1805.0,Invalid,usa,New York,pacific ocean,usa-pacific ocean,NaN,NaN,M,NaN,human remains (male) found in sharks gut,NaN,unknown,Shark involvement prior to death unconfirmed,S.L. Mitchill (1814),1805.09.00-NY.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1805.09.00,1805.09.00,177.0
6139,1785.09.26.R,Reported 26-Sep-1785,1785.0,Unprovoked,england,Sussex,atlantic ocean,england-atlantic ocean,NaN,NaN,M,NaN,Human remains recovered from shark,Y,unknown,Tiger shark?,"C. Moore, GSAF",1785.09.26.R-Brighton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1785.09.26.R,1785.09.26.R,164.0
6218,ND.0096,No date,0.0,Unprovoked,"france territory, indian",Grand'Anse,indian ocean,"france territory, indian-indian ocean",yachtsman in a zodiac,NaN,M,NaN,Survived,N,unknown,NaN,G. Van Grevelynghe,ND-0096-Zodiac-Reunion.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0096,ND.0096,85.0

In [60]:
data_sharks['Name'] = data_sharks['Name'].astype(str)

C:\Users\pepot\AppData\Local\Temp\ipykernel_9524\4196478150.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sharks['Name'] = data_sharks['Name'].astype(str)

In [61]:
data_sharks['Sex '] = data_sharks['Sex '].astype(str)

C:\Users\pepot\AppData\Local\Temp\ipykernel_9524\401785123.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sharks['Sex '] = data_sharks['Sex '].astype(str)

In [62]:
for i, row in data_sharks.iterrows():
    if 'male' in row['Name']:
        data_sharks.at[i, 'Sex '] = 'M'
    elif 'female' in row['Name']:
        data_sharks.at[i, 'Sex '] = 'F'
    else:
        pass

In [63]:
data_sharks.shape

(5459, 23)

In [64]:
null_7=data_sharks[data_sharks['Name']== 'nan']
null_7.index
data_sharks.drop(null_7.index, inplace=True)

C:\Users\pepot\AppData\Local\Temp\ipykernel_9524\332269747.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sharks.drop(null_7.index, inplace=True)

In [65]:
null_8=data_sharks[data_sharks['Sex ']== 'nan']
null_8.index
data_sharks.drop(null_8.index, inplace=True)

C:\Users\pepot\AppData\Local\Temp\ipykernel_9524\3120878460.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sharks.drop(null_8.index, inplace=True)

In [66]:
data_sharks.shape

(5049, 23)

In [67]:
data_sharks['Sex '].unique()

array(['F', 'M', 'M ', 'lli', 'N'], dtype=object)

In [68]:
for i, row in data_sharks.iterrows():
    if 'M ' in row['Sex ']:
        data_sharks.at[i, 'Sex '] = 'M'
    else:
        pass

In [69]:
data_sharks['Sex '].unique()

array(['F', 'M', 'lli', 'N'], dtype=object)

In [79]:
null_9= data_sharks[data_sharks['Sex ']== 'lli']
null_9.index
data_sharks.drop(null_9.index, inplace=True)

C:\Users\pepot\AppData\Local\Temp\ipykernel_9524\1102812985.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sharks.drop(null_9.index, inplace=True)

In [80]:
null_10= data_sharks[data_sharks['Sex ']== 'N']
null_10.index
data_sharks.drop(null_10.index, inplace=True)

C:\Users\pepot\AppData\Local\Temp\ipykernel_9524\444172524.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sharks.drop(null_10.index, inplace=True)

# 10 voy a limpiar las columnas injury y Fatal(Y/N)

In [81]:
data_sharks[(data_sharks['Fatal (Y/N)'].isnull())]

,Case Number,Date,Year,Type,Country,Area,Location,pais-oceano,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
27,2018.04.15.c,15-Apr-2018,2018.0,Unprovoked,brazil,Pernambuco,atlantic ocean,brazil-atlantic ocean,Swimming,Pablo de Melo,M,34,"Multiple severe injuries to arms and leg, leg ...",NaN,unknown,NaN,"Globo, 4/16/2018",2018.04.15.c-deMelo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.15.c,2018.04.15.c,6276.0
76,2017.10.01,01-Oct-2017,2017.0,Invalid,south africa,Western Cape Province,atlantic ocean,south africa-atlantic ocean,Scuba Diving,Bradley Fick,M,31,FATAL,NaN,unknown,Death may have been due to drowning,"All Africa, 10/11/2017",2017.10.01-Fick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.10.01,2017.10.01,6227.0
79,2017.09.24.b,24-Sep-2017,2017.0,Invalid,usa,New York,pacific ocean,usa-pacific ocean,Surfing,Michah Behrend,M,33,"Lacerations to right ankle, foot & toe",NaN,15h30,Questionable,"S. Curatolo-Wageman, GSAF",2017.09.24.b-Behrend.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.24.b,2017.09.24.b,6224.0
84,2017.09.15.b,15-Sep-2017,2017.0,Invalid,south africa,Western Cape Province,atlantic ocean,south africa-atlantic ocean,Scuba Diving,Wayon Love,M,25,"FATAL, but death was probably due to drowning",NaN,Afternoon,NaN,"Ground Up, 9/20/2017",2017.09.15.b-Love.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.15.b,2017.09.15.b,6219.0
98,2017.08.26.b,26-Aug-2017,2017.0,Invalid,spain,Castellón,mediterranean sea,spain-mediterranean sea,Swimming,female,M,11,Lacerations to left foot,NaN,Midday,Shark involvement questionable,"El Periodico Mediterraneo, 8/27/2017",2017.08.26.b-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.08.26.b,2017.08.26.b,6205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6046,1847.00.00.b,1847,1847.0,Invalid,usa,South Carolina,pacific ocean,usa-pacific ocean,Swimming,a young sailor,M,NaN,"Disappeared, thought to have been taken by a s...",NaN,unknown,Shark involvement prior to death unconfirmed,"W.H. Gregg, pp. 21-22",1847.00.00.b-sailor.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1847.00.00.b,1847.00.00.b,257.0
6078,1837.00.00.a,Ca. 1837,1837.0,Invalid,usa,South Carolina,pacific ocean,usa-pacific ocean,NaN,"adult male, a sailor",M,NaN,7.6 m [25'] shark caught contained human remains,NaN,unknown,Shark involvement prior to death unconfirmed,W. H. Gregg,1837.00.00.a-remains.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1837.00.00.a,1837.00.00.a,225.0
6088,1831.01.22.R,Reported 22- Jan-1831,1831.0,Invalid,australia,Tasmania,pacific ocean,australia-pacific ocean,"Boat capsized, clinging to line",Robert Dudlow,M,NaN,"Drowned, no shark involvement",NaN,unknown,Invalid,"C. Black, GSAF; Sydney Gazette, 1/22/1831",1831.01.22.R-Dudlow.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1831.01.22.R,1831.01.22.R,215.0
6147,1767.00.00,1767,1767.0,Invalid,france,Côte d'Azur,atlantic ocean,france-atlantic ocean,Bathing,Samuel Matthews,M,NaN,Lacerations to arm & leg,NaN,unknown,Description of shark does not ring true,NaN,1767.00.00-Matthews.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1767.00.00,1767.00.00,156.0
6232,ND.0081,"No date, Before 1963",0.0,Invalid,usa,Hawaii,pacific ocean,usa-pacific ocean,Diving,Val Valentine,M,NaN,A 4.3 m [14'] shark made threat display. No in...,NaN,unknown,Invalid,B. Sojka & D. Lloyd,ND-0081-Valentine.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0081,ND.0081,71.0

In [ ]:
data_sharks['Sex '] = data_sharks['Sex '].astype(str)

In [70]:
for i, row in data_sharks.iterrows():
    if 'male' in row['Name']:
        data_sharks.at[i, 'Sex '] = 'M'
    elif 'female' in row['Name']:
        data_sharks.at[i, 'Sex '] = 'F'
    else:
        pass

NameError: name 'rvqervervqervervqervervqerv' is not defined

# PRUEBAS: voy a comparar la fila de country con Area y ver so puedo limpiar nulos o remplazar nulos por nombres

In [ ]:
#porque no funciona
for e, row in data_sharks.iterrows():
    for e in data_sharks['Name']:
        if 'M' in row['Sex ']:
            data_sharks.at[e, 'nan'] = 'male'
        elif 'F' in row['Sex ']:
            data_sharks.at[e, 'nan'] = 'female'
        else:
            pass

In [ ]:
data_sharks['Country'] = data_sharks['Country'].str.lower()cdvfdvfvfverfverfv

data_sharks.Country.unique()

In [ ]:
name_f=data_sharks[data_sharks['Sex ']== 'nan']

In [ ]:
name_f['Name'].unique()

In [ ]:
data_sharks.apply(lambda row: row.contains('nan')).any(axis=1)

In [ ]:
data_country=data_sharks[['Country', 'Area']]
data_country

In [ ]:
data_missing=data_country[(data_country['Country'].isnull()) & (data_country['Area'].isnull())]
data_missing.index
#data_sharks.iloc[data_country[(data_country['Country'].isnull()) & (data_country['Area'].isnull())].index] (sirve para comprobar que la funcion que estoy haciendo esta bien)

In [ ]:
data_country.drop(data_missing.index, inplace=True)

In [ ]:
data_country

In [ ]:
data_country.isna().sum()

In [ ]:
data_country_1=data_sharks.iloc[data_country[(data_country['Country'].isnull())].index]
data_country_1

In [ ]:
data_country_1.Area.unique()

In [ ]:
data_country['Country'] = data_country['Country'].str.lower()

In [ ]:
data_country.Country.unique()

In [ ]:
mapeo_paises = {
    'English Channel': 'england',
    'Caribbean Sea': 'caribe',
    'Between Timor & Darwin, Australia': 'australia',
    'Near the Andaman & Nicobar Islands': 'india',
    'Between Comores & Madagascar': 'madagascar',
    'Off South American coast':'chile',
    '300 miles east of St. Thomas (Virgin Islands)': 'usa',
    'French Southern Territories': 'france',
    'Mediterranean Sea': 'spain',
    'Gulf of California': 'mexico',
    'Western Banks': 'australia',
    'St Helena': 'australia',
    'Ionian Sea': 'italy'
 }

In [ ]:
mapeo_paises.get('St Helena')

In [ ]:
mapeo_paises.get('australia', 'australia')

In [ ]:
data_country_1.Country.apply(lambda x: data_country_1.get(x, x))

In [ ]:
data_country_1

In [ ]:
for i, e in mapeo_paises.items():
    if e in data_country_1.Country[e] == NaN:
        print()

In [ ]:
data_country_1['Country'] = data_country_1['Area'].map(mapeo_paises)

In [ ]:
data_country_1

In [ ]:
for i in range (len(df)):
data_country_1.iloc[[0,0]